.footer {
  
  height: 10vh;  
  color: $color-grey-light-1;
  background-image: linear-gradient(to right, $color-primary-light , $color-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
 

  
   
  }
